<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.manage.mapper.userMapper">

<select id="">
	SELECT * from 
	(SELECT user_info.gender,user_info.education,user_info.salary,user_info.height,user_info.age,user_photo.pic1 FROM user_info LEFT JOIN user_photo ON user_info.id=user_photo.id and user_photo.pic1!='无图片') a 
	where a.pic1 is not NULL and a.gender='女' and a.height='173' and a.age='32' LIMIT 1
</select>


</mapper>